.content {
  width: 100%;
  background: rgb(34, 34, 34);
  display: flex;
  align-items: center;
}

h3{
  color: #fff;
}

nav ul{
  display: flex;
  align-items: center;
}

li{
  list-style: none;
}

li a{
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

li a:hover{
  color: #999;
}

.container {
  width: 100%;
}

.body {
  width: 50%;
  margin: 0 auto;
}

.up-btn {
  margin-top: .70rem;
  margin-right: .75rem;
  background-color: rgb(77, 77, 250);
  color: #fff;
  outline: none;
  border-radius: 5px;
  padding: .25rem .75rem;
  border: none;
}

.low-btn {
  margin-top: .70rem;
  margin-right: .75rem;
  background-color: rgb(77, 77, 250);
  color: #fff;
  outline: none;
  border-radius: 5px;
  padding: .25rem .75rem;
  border: none;
}

.copy-btn{
  margin-top: .70rem;
  margin-right: .75rem;
  background-color: rgb(77, 77, 250);
  color: #fff;
  outline: none;
  border-radius: 5px;
  padding: .25rem .75rem;
  border: none;
}

.clear{
  margin-top: .70rem;
  margin-right: .75rem;
  background-color: rgb(77, 77, 250);
  color: #fff;
  outline: none;
  border-radius: 5px;
  padding: .25rem .75rem;
  border: none;
}